:root {
    --primary-color: rgb(53, 123, 112);
    --secondary-color: #e0b354;
    --grid-color: #e8e3d4;
    --a-hover-color: #0b9f37;
    --border-bottom: rgba(0, 0, 0, 0.3);
    --background-main: rgb(241, 241, 241);
    --secondary-text: #ffffff;
    --form-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
  }

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-main);
    font-family: 'Play', sans-serif;
    line-height: 1.3;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline rgb(53, 123, 112, 0.6);
}

p {
    font-size: 25px;
    line-height: 1.6;
}

#about {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

span {
    color: orange;
    font-weight: bolder;
    background-color: black;
    padding: 3px;
    border-radius: 10px;
}

span img {
    height: 20px;
}

/*-----link stylings-----*/

a {
    color: var(--primary-color);
    transition-duration: 0.2s;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--a-hover-color);
}

/*-----button styling-----*/

.button, button {
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--secondary-text);
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    border-bottom: 2px solid var(--border-bottom);
    transition-duration: 0.2s;
    transition-property: opacity;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.7);
}

button:hover, button:focus,
.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
    color: var(--secondary-text);
    background-color: var(--a-hover-color)
}

.button__secondary {
    background-color: var(--secondary-color);
    color: #2b2b2b;
}

#CV-download {
    margin-left: auto;
    margin-right: auto;
    max-width: 170px;
}

/*-----header items-----*/

.page-header {
    display: inline-flex;
    width: 100%;
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid var(--border-bottom);
}

.header-logo {
    margin-bottom: 5px;
    max-height: 70px;
    max-width: fit-content;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/*-----nav items-----*/

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display:inline-block;
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.2s;
    border-radius: 8px;
}

.navigation-list li:hover {
    border: var(--a-hover-color) solid 1px;
}

.navigation-list__item--active {
    text-decoration: none;
}

/*-----profile main-----*/

#ultralink {
    font-size: 30px;
    font-weight: bolder;
}

.profile {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
}

.profile__portrait {
    float: left;
    width: 320px;
    margin: 0px 30px 30px 30px;
    border-radius: 50%;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.8);
}

.profile h1 {
    padding-top: 20px;
}

/*-----table items-----*/

table {
    width: 70%;
    margin: auto;
    border: 2px solid var(--primary-color);
    text-align: center;
    padding: 3px;
}

td {
    padding: 8px;
}

thead {
    font-weight: bold;
    font-size: larger;
    color: var(--secondary-text);
    background-color: var(--primary-color);
}

thead td {
    padding: 6px;
}

/*-----footer items-----*/

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.page-footer p {
    margin-bottom: 0px;
    margin-top: 40px;
}

.social-media img {
    height: 45px;
    padding: 0px 5px;
}

/*-----grid items-----*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid__item {
    background-color: var(--grid-color);
    padding: 8px;
    border: solid 1px var(--primary-color);
}

.grid p {
    font-size: 18px;
}

/*-----form styles-----*/

form {
    text-align: center;
    font-size: 22px;
}

form p {
    font-size: 13px;
    margin: 0;
}

form button {
    margin-top: 15px;
}

input {
    height: 30px;
    width: 220px;
    border: solid 1px black;
    border-radius: 4px;
    box-shadow: var(--form-box-shadow);
}

textarea {
    height: 120px;
    width: 320px;
    box-shadow: var(--form-box-shadow);
    border-radius: 4px;
}

.standard-label {
    display: block;
    padding-top: 20px;
}

/*-----media query - screen sizing-----*/

@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
}

/*-----ANIMATIONS-----*/

        /*--SUN--*/
@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

        /*--CLOUDS--*/
@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}